@import 'tailwindcss';
@plugin "tailwindcss-motion";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: InterVariable, sans-serif;
  --color-dark-primary: #1e1e1e;
  --color-dark-text-primary: #f0f0f0;
  --color-dark-secondary: #2a2a2a;
  --color-dark-labels: #b0b0b0;
  --color-dark-line: #3d3d3d;
  --color-dark-blue: #3b82f6;
  --color-dark-red: #ef4444;
  --color-dark-green: #22c55e;
  --color-light-primary: #f5f5f5;
  --color-light-secondary: #ffffff;
  --color-light-text-primary: #1e1e1e;
  --color-light-labels: #666666;
  --color-light-line: #d1d1d1;
  --shadow-light-shadow: 2px 4px 12px #00000014;

  --animate-typing: fade-in 0.1s 1s forwards, typing 3s steps(20) 1s forwards,
    blink 1s step-end infinite;

  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }

  @keyframes typing {
    from {
      width: 0ch;
    }
    to {
      width: calc(20ch + 2px);
    }
  }
  @keyframes blink {
    50% {
      border-right-color: transparent;
    }
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /* Show scrollbar */
  .scrollbar::-webkit-scrollbar {
    display: block;
  }
  .scrollbar {
    -ms-overflow-style: auto; /* IE and Edge */
    scrollbar-width: auto; /* Firefox */
  }
}

@layer base {
  body {
    @apply bg-light-primary dark:bg-dark-primary min-h-screen;
  }
}

@layer components {
  .card-content {
    @apply max-w-200 h-auto m-5 p-4 bg-light-secondary dark:bg-dark-secondary rounded-[18px] shadow-light-shadow dark:shadow-none text-light-text-primary dark:text-dark-text-primary;
  }
  .card {
    @apply bg-light-secondary dark:bg-dark-secondary flex items-center justify-center rounded-3xl shadow-light-shadow dark:shadow-none text-dark-primary dark:text-dark-text-primary px-3.5 py-1;
  }
}
