@import 'tailwindcss';
@plugin "tailwindcss-motion";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: InterVariable, sans-serif;
  --color-dark-primary: #1e1e1e;
  --color-dark-text-primary: #f5f5f5;
  --color-dark-text-secondary: #e0e0e0;
  --color-dark-secondary: #242424;
  --color-dark-shadow: rgba(0, 0, 0, 0.3);
  --color-light-primary: #f5f5f7;
  --color-light-secondary: #fff;
  --color-light-text-primary: #1d1d1f;
  --color-light-text-secondary: #6e6e73;
  --shadow-light-shadow: 2px 4px 12px #00000014;

  --animate-typing: typing-delay 1s, typing 3s steps(20) 1s forwards,
    blink 1s step-end infinite;

  @keyframes typing-delay {
    from {
      width: 0ch;
    }
    to {
      width: 0ch;
    }
  }

  @keyframes typing {
    from {
      width: 0ch;
    }
    to {
      width: calc(20ch + 2px);
    }
  }
  @keyframes blink {
    50% {
      border-right-color: transparent;
    }
  }
}

@layer base {
  body {
    @apply bg-light-primary dark:bg-dark-primary min-h-screen;
  }
}

@layer components {
  .card-content {
    @apply max-w-200 h-auto m-5 p-4 bg-light-secondary dark:bg-dark-secondary rounded-[18px] shadow-light-shadow dark:shadow-dark-shadow text-light-text-primary dark:text-dark-text-primary;
  }
  .card {
    @apply bg-light-secondary dark:bg-dark-secondary flex items-center justify-center rounded-3xl shadow-light-shadow dark:shadow-dark-shadow text-dark-primary dark:text-dark-text-primary px-3.5 py-1;
  }
}
